@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*********** NAVBAR **************/
/* .navbar-brand {
   width: 50px;
} */

body {
   font-family: 'Roboto', sans-serif;
   background-color: primary;
}

/*********** NAVLINK **************/

nav a.nav-link {
   font-wight: 500;
   letter-spacing: 0.0375rem;
   cursor: pointer;
}

nav ul li {
   text-transform: uppercase;
}
